<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active current">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/posts" routerLinkActive="active current">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/change" routerLinkActive="active current">Change Password</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/courses" routerLinkActive="active current">Courses</a>
    </li>
  </ul>
</nav>
