<!--<div *ngIf="post.likes > 0; then displayLikes else notDisplayLikes">General component</div>-->
<!--<ng-template #displayLikes>-->
<!--  <app-like [total]="post.likes" [liked]="post.userLiked" (change)="updateLikes($event)"></app-like>-->
<!--</ng-template>-->

<!--<ng-template #notDisplayLikes>-->
<!--  No likes so nothing to show!-->
<!--</ng-template>-->

<!--<div>-->
<!--  <button class="btn btn-primary" (click)="reloadTitles()">Reload Titles</button>-->
<!--  <ul>-->
<!--    <li *ngFor="let title of titles; trackBy: trackTitles">{{title.name}}</li>-->
<!--  </ul>-->
<!--</div>-->
<!--<app-course-create-form></app-course-create-form>-->
<!--<hr>-->
<!--<app-reactive-sigup-form></app-reactive-sigup-form>-->

<!--<app-reactive-change-password-form></app-reactive-change-password-form>-->

<app-posts-component></app-posts-component>
